.MuiOutlinedInput-input {
	padding: 10px !important;
	text-align: start;
	align-self: baseline;
	margin-top: 10px !important;
}
.MuiInputBase-fullWidth {
	width: 100%;
	height: 102px;
}
.btn2{
    margin: 0px !important;
    padding: 0px !important;
    color: rgb(107, 114, 128) !important;
}
.MuiBox-root-63{
    height: auto;
overflow: hidden;
}
.MuiBox-root-65 {
    min-width: 0px;
}
.MuiFormControl-fullWidth {
	width: 100% !important;
	max-width: 100%;
	margin: 12px !important;
}
.flexb{
    margin-top: 15px;
	justify-content: space-between;
	display: flex;
    align-items: center;
}
.bheader{
display: flex;
-moz-box-align: center;
align-items: center;
 padding: 32px 24px !important;
}
.MuiTypography-root {
	
}
.media{
    width: 925px !important;
    height: 500px !important;
    max-width: 100% !important;
}
.paddingbox{
    padding:16px!important;
}
.paddingbox1{
    padding:24px!important;
    padding-top: 0px !important;
}
.width{
    width: 100% !important;
}
.love{
    border-radius: 8px !important;
padding: 8px !important;
color: rgb(209, 67, 67) !important;
}
.chats{
background-color: rgb(249, 250, 252) !important;
border-radius: 8px !important;
flex-grow: 1 !important;
margin-left: 16px !important;
padding: 16px !important;
}